BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
PRIVATE_KEY=0xprivate_key_deployer_yang_punya_eth_base_sepolia
BASESCAN_API_KEY=api_key_basescan_anda
INITIAL_SUPERADMIN=0xaddress_wallet_yang_jadi_root_superadmin
